extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=title

block body
  +navbar ("Colenso","dropdown_menu","inverse")
    +nav_item("/") Home
    +nav_item("/") Browse
    +nav_item("/search/") Search
    +nav_item("/upload/", "active") Add File

  .container
    +panel-primary("Add File")
      span
        p File Name:
          input(type="text", id="inputFileName", value="NewFile.xml")
        p Directory:
          input(type="text", id="inputDirectory", value="Directory/SubDir")
        container.pull-right
          input(type="file", name="Choose File", id = "btnLoadFile", accept=".xml")
      textarea.form-control(rows= '17', id="fileBody")
        | <TEI xmlns="http://www.tei-c.org/ns/1.0" xml:id="NewFile">
        |   <p>New File</p>
        | </TEI>
      panel.pull-right
        button.btn-default(id="btnUpload") Create New File
  /////////////////////////////////////////
  //  Scripts
  ///////////////////////////////////////////
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  script.
    $(document).ready(function () {
      $("#btnUpload").click(function () {
        // http://www.w3schools.com/ajax/ajax_xmlhttprequest_send.asp
        var xhttp;
        if (window.XMLHttpRequest) {
          xhttp = new XMLHttpRequest();
        } else {
          // code for IE6, IE5
          xhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        // Should check if filename ends with .xml & directory correct & no spaces

        xhttp.open("POST", "/uploadDoc?name=" + document.getElementById("inputFileName").value
                + "&dir=" + document.getElementById("inputDirectory").value
                + "&body=" + document.getElementById("fileBody").value, true);
        xhttp.send();
        alert("File added");
      });

      // https://www.nczonline.net/blog/2012/05/08/working-with-files-in-javascript-part-1/
      var control = document.getElementById("btnLoadFile");
      control.addEventListener("change", function (event) {
        if (control.files.length > 0){

          document.getElementById("inputFileName").value = control.files[0].name.replace(/\s/g, '_');
          var reader = new FileReader();
          reader.onload = function (event) {
            document.getElementById("fileBody").value = reader.result;
          };
          reader.readAsText(control.files[0]);
        }
        /*document.getElementById("fileBody").value = "Blah";
         var reader = new FileReader();
         reader.onload = function(event) {
         var contents = event.target.result;

         console.log("File contents: " + contents);
         document.getElementById("fileBody").value = "Blah";
         };*/
      });
    });